header {
  background-color: #1c1c1c;
  padding: 20px 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.caixa {
  position: relative;
  width: 1290px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 40px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 20px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
