header {
  background-color: #1c1c1c;
  padding: 20px 0;
}

body {
  color: white;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

.caixa {
  position: relative;
  width: 1290px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

main {
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
  font-size: x-large;
  margin: 25px;
}

p {
  text-align: center;
}

.itens {
  font-style: italic;
  font-size: large;
}

.portifolio {
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 5%;
}

li {
  padding: 15px;
}

.imagemportifolio {
  width: 100%;
}
