header {
  background: #000;
  height: 88px;
  display: flex;
}

body {
  background-color: #000;
  color: white;
  font-family: "roboto", sans-serif;
}

#banner {
  width: 100%;
}

main {
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
  font-size: x-large;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #f8af16;
}

.itens {
  font-style: italic;
  font-size: large;
}

.beneficios {
  padding: 20px;
  font-size: x-large;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 5%;
}

li {
  padding: 15px;
}

.imagembeneficios {
  width: 50%;
}
